

.reboteIn_abajo{
 
    animation: reboteIn_abajo 1s 2;
   
  }
  
  /* Creamos la animación ReboteIn desde Abajo (con keyframes) */
  
  @keyframes reboteIn_abajo {
   
    0% {
      opacity: 0;
      transform: translateY(100vw);
    }
    
    50% {
      
      transform: translateY(-30px);
      opacity: 1;
    }
    
    70% {
      
      transform: translateY(10px);
        
    }
    
  }
  
  
    
  
  
  